* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

footer {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
}

.txt-footer {
    font-size: 12px;
    font-family: Poppins;
}

.logo-imagem {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.menu {
    display: flex;
    align-items: center;
    font-family:Poppins;
}

.container-wrapper {
    height: auto;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    border-radius: 16px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color:white;
    margin-top: 30px;
}

.input-wrapper i {
    color: black;
}

.input-wrapper input {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 15px;
    font-family:Poppins;
}

.input-wrapper input:focus-visible {
    outline: none;
}

.texto-conteudo {
    display: flex;
    justify-content: center;
    font-size: 36px;
    margin-top: 50px;
    font-family:Poppins;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.imagens {
    width: 160px;
    height: 160px;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.4s ease; /* Suaviza a transição */
}

.imagens:hover {
    transform: scale(0.98);
}

.grupo-peras {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    text-align: center;
}
.grupo-peras a{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-pera {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
}

body {
    background-color: #EBEBEA;
}

.falta { 
    background-color: red;
    border-radius: 5px;
    width: 75px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 12px;
}

.em-alta {
    background-color: green;
    border-radius: 5px;
    width: 85px;
    height: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: 12px;
}

.nome-pera {
    margin: 10px;
}
